@tailwind base;
@tailwind components;
@tailwind utilities;

/* small custom */
body {
  @apply bg-gray-100;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-in-out {
  animation: fade-in-out 3s ease forwards;
  animation: fade-in-out 3s ease infinite;

}

/* Ẩn icon "mắt" mặc định và nút xóa của Chrome/Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
  appearance: none;
}

/* Ngăn Safari/Firefox hiển thị biểu tượng riêng */
input[type="password"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

@layer utilities {
  .animate-bounce-slow {
    animation: bounce-slow 2.5s infinite ease-in-out;
  }
}


.animate-fadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}

.animate-popIn {
  animation: popIn 0.25s ease-out forwards;
}

.animate-bounce-slow {
  animation: bounce-slow 2.5s infinite ease-in-out;
}